body {
  background-color: black;
}

.container {
  background-color: #ffffffc0;
  padding: 100px 0px 100px 0px;
}

.setter {
  margin: 0px 50px 0px 50px;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  border-radius: 1000px;
  border: none;
  padding: 9px;
  background-color: white;
  color: black;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(223, 223, 223)
}

input {
  border: 1px solid #ccc; /* Set a default border color */
  border-radius: 1px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: auto;

}

input:focus {
  border: 1px solid #ccc; /* Maintain the same border on focus */
  outline: none; /* Ensure no outline appears on focus */
}

.BoxColor{
width: 100px;
height: 100px;
background-color: black;
display:block;

}

